.footer {
    background-color: var(--azul-escuro);
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    
    padding: 2rem 0;

    color: var(--branco);
}