.footer {
    background-color: var(--dark-blue);
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    
    padding: 2rem 0;

    color: var(--white);
}